@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body h1 {
  color: white;
  font-size: 24px;
  padding: 10px 10px 0;
  font-weight: bold;
}

body p {
  color: white;
  padding: 0 10px 10px;
  line-height: 1.3;
}