*

!.gitignore 
!Pokemon.csv
!pokemon.db
!run.py

!database/
!database/*.py

!models/
!models/*.py

!pokedex/
!pokedex/*.py
!pokedex/static/
!pokedex/static/images/
!pokedex/static/images/pokemon_images/
!pokedex/static/images/pokemon_images/*.png
!pokedex/static/images/pokemon_images/*.jpg
!pokedex/templates/
!pokedex/templates/*.html