*

!.gitignore 
!Pokemon.csv
!pokemon.db
!run.py

!database/
!database/*.py

!models/
!models/*.py

!pokedex/
!pokedex/*.py
!pokedex/static/
!pokedex/static/images/
!pokedex/static/images/pokemon_images/
!pokedex/static/images/pokemon_images/*.png
!pokedex/static/images/pokemon_images/*.jpg
!pokedex/static/css/
!pokedex/static/css/*.css
!pokedex/static/css/*.scss
!pokedex/static/css/abstracts
!pokedex/static/css/abstracts/*.scss
!pokedex/static/css/base
!pokedex/static/css/base/*.scss
!pokedex/static/css/components
!pokedex/static/css/components/*.scss
!pokedex/static/css/layout
!pokedex/static/css/layout/*.scss
!pokedex/static/css/pages
!pokedex/static/css/pages/*.scss
!pokedex/templates/
!pokedex/templates/*.html