$linkColor: black;
$card-bkg: snow;

$type_grass: #0f9807;
$type_bug: #60ff0f;
$type_dark: #444444;
$type_ghost: #696969;
$type_steel: #ababab;
$type_electric: #ffea00;
$type_fire: #ff7916;
$type_poison: #cd16ff;
$type_psychic: #593462;
$type_ice: #76e2ff;
$type_flying: #7eb5cb;
$type_water: #2091ee;
$type_ground: #724c32;
$type_rock: #62544a;
$type_fairy: #ffa2e2;
$type_dragon: #831a12;
$type_fighting: #9b8368;
$type_normal: #d26812;


// FIXME: Need to find out the correct break points, this is only temp.
/*
    1920*1080
    1366*768
    360*640
    414*896
    1536*864
    375*667
 */


$breakpoints: (
  'xsmall': (min-width: 360px),
  'small': (min-width: 650px),
  'medium': (min-width: 800px),
  'large': (min-width: 1300px),
  'xlarge': (min-width: 1536px),
  'huge': (min-width: 1920px)
);