@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    1920*1080
    1366*768
    360*640
    414*896
    1536*864
    375*667
 */
.card-container {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  background-color: snow;
}
.card-container table {
  width: 100%;
}
.card-container table thead {
  border-bottom: 1px solid gray;
}
.card-container table thead tr th {
  text-align: left;
  padding: 30px 7px 7px 7px;
  border-bottom: 3px solid black;
}
.card-container table tbody tr .card-stat {
  font-weight: bold;
  text-align: center;
}
.card-container table tbody tr th {
  text-align: left;
  width: 30%;
  padding: 7px;
  color: gray;
}
.card-container table tbody tr td {
  padding: 5px;
  width: 35%;
}

#button {
  background-color: gray;
  color: white;
  border-radius: 7px;
  padding: 5px 70px;
  margin: 7px auto;
}

form {
  text-align: center;
}
form input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
}
form input[type=text]:focus {
  outline: none;
}

.type_grass {
  background-color: #0f9807;
}

.type_bug {
  background-color: #60ff0f;
}

.type_dark {
  background-color: #444444;
}

.type_ghost {
  background-color: #696969;
}

.type_steel {
  background-color: #ababab;
}

.type_electric {
  background-color: #ffea00;
}

.type_fire {
  background-color: #ff7916;
}

.type_poison {
  background-color: #cd16ff;
}

.type_psychic {
  background-color: #593462;
}

.type_ice {
  background-color: #76e2ff;
}

.type_flying {
  background-color: #7eb5cb;
}

.type_water {
  background-color: #2091ee;
}

.type_ground {
  background-color: #724c32;
}

.type_rock {
  background-color: #62544a;
}

.type_fairy {
  background-color: #ffa2e2;
}

.type_dragon {
  background-color: #831a12;
}

.type_fighting {
  background-color: #9b8368;
}

.type_normal {
  background-color: #d26812;
}

body h1 {
  color: white;
  font-size: 24px;
  padding: 10px 10px 0;
  font-weight: bold;
}

body p {
  color: white;
  padding: 0 10px 10px;
  line-height: 1.3;
}

html {
  font-family: "Roboto", sans-serif;
}

main div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
main div .pokemon-name, main div .pokemon-id {
  display: inline-block;
  color: white;
  padding: 15px;
}
main div .pokemon-name {
  font-size: 34px;
  font-weight: bolder;
}
main .pokemon-container {
  display: flex;
  flex-direction: column;
}
main .pokemon-container .pokemon-image-container {
  width: 100%;
}
main .pokemon-container .pokemon-image-container img {
  margin: auto auto;
  width: 75%;
}

/*# sourceMappingURL=main.css.map */
